.BaseContainer {
}

.FilterContainer {
  background-color: rgb(19, 141, 241); /* #97a8c5;*/
  padding: 5px;
}

.Header {
  font-weight: bolder;
  font-size: large;
  text-align: center;
  border-bottom: solid 1px darkblue;
}

.Board {
  display: flex;
  justify-content: space-around;
  background-color: rgb(19, 141, 241);
  min-height: 92.8vh;
  height: 100%;
}

.Board > div:nth-child(n + 2) {
  margin-left: 0px;
}

.BoardSelect {
  margin: 5px 5px 0 5px;
  padding: 2px;
  border-radius: 5px;
  width: 160px;
}

.BoardInput {
  margin: 5px 5px 0 5px;
  width: 160px;
}

.Category {
  background-color: lightgrey;
  margin: 5px;
  padding: 5px;
  min-width: 24vw;
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  border-radius: 5px;
}

.CategoryTitle {
  font-weight: bolder;
  margin-bottom: 25px;
}

.Task {
  background-color: azure;
  border-radius: 6px;
  padding: 6px;
  width: 84%;
  margin: 8px;
  position: relative;
}

.Task:hover {
  cursor: pointer;
}

.TaskTitle {
  font-weight: 600;
  padding-left: 10px;
}

.TaskTitle:hover {
  color: blue;
}

.Dnd {
  background-color: slategrey;
}

.AddTask {
  position: absolute;
  bottom: 1px;
  bottom: 25px;
  border-radius: 20px;
  border: none;
  background-color: slategray;
}

.TaskClose {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
}

.ModalContainer {
  padding: 10px;
}

@media (min-width: 800px) {
  .BaseContainer {
    display: flex;
    min-height: 98vh;
  }

  .Board {
    min-height: 98vh;
  }
  .BoardSelect {
    margin-top: 10px;
  }
  .BoardInput {
    margin-top: 10px;
  }
}
